.swiper-button-next {
  right: 2.8rem;
}

.swiper-button-prev {
  left: 2.8rem;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  color: #ffba08;
}

.swiper-pagination-bullet {
  width: 16px;
  height: 16px;
  background: #999999;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background: #ffba08;
}

@media screen and (max-width: 30em) {
  .swiper-button-next {
    right: 1rem;
  }

  .swiper-button-prev {
    left: 1rem;
  }
  .swiper-pagination-bullet {
    width: 8px;
    height: 8px;
  }
}
